<?xml version="1.0"?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- assemblies -->
  <assembly name="TournamentMaker.BP" />
  <assembly name="TournamentMaker.BO" />
  <assembly name="TournamentMaker.DAL" />

  <!-- namespaces -->
  <namespace name="TournamentMaker.BP" />
  <namespace name="TournamentMaker.BP.TournamentSystems" />
  <namespace name="TournamentMaker.BO.Tournaments" />
  <namespace name="TournamentMaker.DAL" />
  <namespace name="TournamentMaker.DAL.Stores" />
  <namespace name="TournamentMaker.DAL.Interfaces" />


  <typeAliases>
    <!-- Life cycles -->
    <typeAlias alias="PerWebRequest"
               type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="Singleton"
               type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>

  <container>
    <!-- Business -->
    <type type="SportBP" mapTo="SportBP" />
    <type type="UserBP" mapTo="UserBP" />
    <type mapTo="Elimination" type="ITournamentSystem`1[[EliminationTournament]]" />
    <type mapTo="Pool" type="ITournamentSystem`1[[PoolTournament]]" />
    <type mapTo="Round" type="ITournamentSystem`1[[RoundTournament]]" />
    <type mapTo="PoolElimination" type="ITournamentSystem`1[[PoolEliminationTournament]]" />
    
    <!-- DAL -->
    <type type="MatchContext" mapTo="MatchContext">
      <lifetime type="PerWebRequest" />
    </type>
    <type type="IMatchStore" mapTo="MatchStore" />
    <type type="IPlayerStore" mapTo="PlayerStore" />
    <type type="ITeamStore" mapTo="TeamStore" />
    <type type="ISportStore" mapTo="SportStore" />
    <type type="ITournamentStore" mapTo="TournamentStore" />
    <type type="ITournamentSystemFactory" mapTo="TournamentSystemFactory" />

  </container>

</unity>